/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    /* Color de fondo */
    color: #333;
    /* Color del texto */
}

ul,
ol {
    list-style: none;
    /* Eliminar viñetas de listas */
}

a {
    text-decoration: none;
    /* Eliminar subrayado de enlaces */
    color: inherit;
    /* Heredar color del texto */
}

button,
input {
    border: none;
    /* Eliminar bordes predeterminados */
    outline: none;
    /* Eliminar contorno al enfocar */
}

.navbar {
    /* position: fixed !important; */
    width: 100% !important;
    z-index: 1000 !important;
    background-color: #800000 !important;
    /* Rojo oscuro */
    padding: 10px 0 !important;
    color: #ffffff !important;
    /* Blanco */
}

.navbar-brand {
    margin-right: auto;
    /* Mueve el logo hacia la izquierda */
}

.navbar-nav .nav-link {
    font-size: 17px;
    /* Tamaño de la fuente */
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.navbar-toggler-icon {
    background-color: #fff;
    color: #000;
}

/* Cambiar el color de fondo del Navbar cuando está contraído */
@media (max-width: 991.98px) {
    .navbar.bg-dark {
        background-color: #333;
    }
}
/*cards*/
.card {
    font-family: Arial, sans-serif; /* Cambia la fuente del texto */
    overflow: hidden; /* Oculta el texto que se desborda */
    max-height: 400px; /* Altura máxima de la tarjeta */
    transition: max-height 0.3s, color 0.3s, transform 0.3s; /* Agrega transiciones para altura, color y transform */
    position: relative; /* Posición relativa para alinear el póster */
  }
  
  .card:hover .card-text {
    color: #333; /* Cambia el color al pasar el cursor sobre la tarjeta */
  }
  
  .card:hover {
    max-height: 100%; /* Altura máxima al hacer hover */
    transform: translateY(-10px); /* Desplaza la tarjeta hacia arriba al hacer hover */
  }
  
  .card-image {
    width: 100%;
    height: 400px; /* Altura mayor para el póster */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
    position: relative; /* Posición relativa para fijar el póster */
    z-index: 1; /* Coloca el póster por encima del contenido de la tarjeta */
  }
  
  .card-body {
    position: relative; /* Posición relativa para colocar el contenido de la tarjeta por encima del póster */
    z-index: 2; /* Coloca el contenido de la tarjeta por encima del póster */
    color: white; /* Color blanco para el texto */
  }
  
  .card-title {
    font-size: 1.5rem; /* Tamaño de letra más grande */
    color: #333; /* Color del título */
    margin-bottom: 10px; /* Espacio inferior */
  }
/* Carousel */

/* Estilos para el Carousel */

.carousel-inner .carousel-item img {
    height: 400px; /* Establece la altura deseada para las imágenes */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(50%);
}

/* 
section {

} */
/*cards*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(50%);
}

.containerFavoriteFilms,
.containerCards,
.containerCards2 {
    background-color: #000000;
    /* Negro */
}

.containerFavoriteFilms {
    background-image: url("../images/img2.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
}

.containerCards {
    background-image: url("../images/img3.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
}

.containerCards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;

}
/************/
/* CARDS FILMS */
.card {
    background-color: #ffffff;
    /* Blanco */
    color: #333333;
    /* Gris oscuro */
    width: 18rem;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s; /* Agrega transiciones para los colores al pasar el mouse */
}

.card:hover {
    background-color: #333333;
    /* Gris oscuro */
    color: #ffffff;
    /* Blanco */
}

.card:not(:hover) {
    background-color: #ffffff;
    /* Blanco */
    color: #333333;
    /* Gris oscuro */
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 15px;
}

.title {
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.875rem;
    line-height: 1.5;
}

.btnCard:hover {
    background-color: black;
}

/*****************/

.hr {
    border: none;
    height: 1px;
    /* Grosor del hr */
    background-color: #333;
    /* Color que se mezcle con el fondo */
    margin: 20px 0;
    /* Margen superior e inferior */
}

/* Estilos para la sección de Promociones */
.section-cards,
.section-recomendadas {
    background-image: url("../images/img1.jpg");
    padding: 30px 0;
    background-color: #333;
    border-radius: 10px;
}

.section-promociones {
    background-image: url("../images/img1.jpg");
    padding: 30px 0;
    background-color: #333;
}

.section-title {
    background-color: rgba(255, 255, 255, 0.8);
    /* Blanco con una transparencia del 80% */
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

.promociones-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.promocion {

    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.promocion-img {
    width: 100%;
    height: 200px;
    /* Establece la altura deseada para las imágenes */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.promocion-title {
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.promocion-description {
    color: #666;
    font-size: 0.9rem;
}

footer.footer {
    position: fixed; /* Posición fija para el footer */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 999; /* Z-index alto para que esté por encima de otros elementos */
  }