

/* Estilos personalizados para el Navbar */
.navbar {
    background-color: #000; /* Color de fondo negro */
    color: #fff; /* Color de texto blanco */
}

/* Alinear el logo a la izquierda */
.navbar-brand {
    margin-right: auto; /* Mueve el logo hacia la izquierda */
}


.navbar-nav {
    margin-left: auto; 
}

.navbar-nav {
    margin-left: auto; 
    margin-right: 0; 
}

.navbar-toggler-icon {
    background-color: #fff; 
    color: #000; 
}

/* Cambiar el color de fondo del Navbar cuando está contraído */
@media (max-width: 991.98px) {
    .navbar.bg-dark {
        background-color: #333; 
    }
}
section {
    background-color: #f8f9fa;
}

/*cards*/
.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #333;
    padding: 20px;
}
.containerCards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #333;
    padding: 20px;
}
.card {
    width: 18rem;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {

    padding: 15px;
}
.title{
   text-align: center; 
}
.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;

}

.card-text {
    color: black;
    font-size: 0.875rem;
    line-height: 1.5;
}


.btnCard:hover {
    background-color: #333;
}

footer.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}